<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "_head.html" %}
	</head>

	<body>
		<!-- loader -->
		<div class="loader-wrapper">{% include "_loader.html" %}</div>
		<!-- /loader -->

		<!-- wrapper -->
		<div class="wrapper">
			<!-- header -->
			<header
				class="top-header fixed-top border-bottom d-flex align-items-center"
			>
				<nav class="navbar navbar-expand w-100 p-0 gap-3 align-items-center">
					<div
						class="nav-button"
						onclick="history.back()"
					>
						<a href="javascript:;"><i class="bi bi-arrow-left"></i></a>
					</div>
					<div class="account-sign-up">
						<h6 class="mb-0 fw-bold text-dark">Change Password</h6>
					</div>
				</nav>
			</header>
			<!-- /header -->

			<!-- /page content -->
			<div class="page-content">
				<div class="login-body">
					<h5 class="fw-bold">Change Your Password</h5>
					<form
						class="mt-4"
						method="post"
						action="{% url 'common:change-password' %}"
					>
						{% csrf_token %} {% include "_form-errors.html" %}
						<div
							class="input-group mb-3"
							id="show_hide_password"
						>
							<div class="form-floating flex-grow-1">
								<input
									type="password"
									class="form-control rounded-3 border-end-0 rounded-end-0"
									id="floatingInputConfirmPassword"
									name="old_password"
									placeholder="Enter Password"
								/>
								<label for="floatingInputConfirmPassword"
									>Current Password</label
								>
							</div>
							<span
								class="input-group-text bg-transparent rounded-3 rounded-start-0"
								><i class="bi bi-eye-slash"></i
							></span>
						</div>

						<div
							class="input-group mb-3"
							id="show_hide_password"
						>
							<div class="form-floating flex-grow-1">
								<input
									type="password"
									class="form-control rounded-3 border-end-0 rounded-end-0"
									id="floatingInputPassword"
									name="new_password1"
									placeholder="Enter Password"
								/>
								<label for="floatingInputPassword">New Password</label>
							</div>
							<span
								class="input-group-text bg-transparent rounded-3 rounded-start-0"
								><i class="bi bi-eye-slash"></i
							></span>
						</div>

						<div
							class="input-group mb-3"
							id="show_hide_password"
						>
							<div class="form-floating flex-grow-1">
								<input
									type="password"
									class="form-control rounded-3 border-end-0 rounded-end-0"
									id="floatingInputConfirmPassword"
									name="new_password2"
									placeholder="Enter Password"
								/>
								<label for="floatingInputConfirmPassword"
									>Confirm New Password</label
								>
							</div>
							<span
								class="input-group-text bg-transparent rounded-3 rounded-start-0"
								><i class="bi bi-eye-slash"></i
							></span>
						</div>

						<div class="mb-0 d-grid">
							<button
								type="submit"
								class="btn btn-dark btn-ecomm rounded-3"
							>
								Change Password
							</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /page content -->

			<!-- footer -->
			<footer
				class="page-footer fixed-bottom border-top d-flex align-items-center justify-content-center"
			>
				<p class="mb-0 rounded-0">
					Already have an account?
					<a
						href="{% url 'common:login' %}"
						class="text-danger"
						>Log In</a
					>
				</p>
			</footer>
			<!-- /footer -->
		</div>
		<!-- /wrapper -->

		<!--JS Files-->
		{% include "_scripts.html" %}
	</body>
</html>
