{% extends "_base.html" %} {% block contents %}
<div class="card rounded-3">
	<div class="card-body">
		<div class="mb-3">
			<img
				src="/static/images/contact-us.png"
				alt="Contact Us"
				width="100%"
			/>
		</div>
		<hr />
		<div class="mb-3">
			<h5 class="fw-bold">Need Some Help?</h5>
			<p class="mb-2">
				If you ever find yourself in need of assistance with Healing Mentor, we
				want you to know that help is always within reach. Whether you're facing
				a technical issue or seeking guidance on how to utilize the platform
				effectively, our team is here to support you every step of the way.
			</p>
			<p class="mb-0">
				Don't hesitate to reach out to us for assistance; we're dedicated to
				ensuring your experience with Healing Mentor is seamless and rewarding.
			</p>
		</div>
		<hr />
		<div class="mb-0">
			<h5 class="fw-bold">Contact Us</h5>
			<p class="mb-0">killerwhalee@kaist.ac.kr</p>
			<p class="mb-0">Mon - Sat / 7:30 PM - 10:00 PM</p>
			<p class="mb-0">Sun / 10:00 AM - 8:00 PM</p>
		</div>
	</div>
</div>
{% endblock contents %}
