{% extends "_base.html" %} {% block contents %}
<!-- start banner slider -->
<h4 class="my-2 text-center fw-bold section-title">
	Welcome to Healing Mentor!
</h4>
<img
	src="/static/images/home-banner.png"
	class="img-fluid rounded-3"
	alt=""
/>
<!-- end banner slider -->

<hr class="my-4" />

<!-- start reviews section -->
<div class="reviews-section">
	<h4 class="my-2 text-center fw-bold section-title">Notification</h4>
	<div class="review-slider">
		{% for notice in notice_list %}
		<div class="review-item p-3 border rounded-3 bg-light">
			<h5 class="fw-bold">{{notice.title}}</h5>
			<p class="my-2">{{notice.body}}</p>
			<p class="text-end mb-0 reviw-date">
				{{notice.date_created|date:"Y-m-d H:i:s"}}
			</p>
		</div>
		{% endfor %}
	</div>
</div>
<!-- end reviews section -->
{% endblock contents %}
