{% extends "_base.html" %} {% block contents %}
<!--start banner slider-->
<h4 class="my-2 text-center fw-bold section-title">
	Welcome to Healing Mentor!
</h4>
<img
	src="/static/images/home-banner.png"
	class="img-fluid rounded-3"
	alt=""
/>
<!--end banner slider-->

<hr class="my-4" />

<!--start reviews section-->
<div class="reviews-section">
	<h4 class="my-2 text-center fw-bold section-title">Testimonial</h4>
	<div class="review-slider">
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					처음에 몸 전체에서 피로감이 있었는데, 명상이 끝나고 나서 피로감이 조금
					가신 느낌입니다!
				</p>
			</div>
		</div>
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					발바닥이 말랑말랑하게 다리가 짓누르는 무게를 탄력 있게 지탱하는 느낌이
					신기했습니다.
				</p>
			</div>
		</div>
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					호흡 명상을 하는데 다른 친구들이 야식 먹는 소리와 짭조름하고 달콤한
					냄새 때문에 집중이 흐트러졌습니다.
				</p>
			</div>
		</div>
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					오늘부터는 밤 10시에서 11시 사이의 일정한 시간에, 일정한 자세로 명상을
					하겠다고 정했습니다.
				</p>
			</div>
		</div>
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					탑-다운 방식으로 호흡을 통제하는 것이 아니라 바텀-업 방식으로 몸의
					감각과 호흡을 느끼니 명상이 보다 더 자연스러워졌습니다.
				</p>
			</div>
		</div>
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					소리의 종류, 거리, 강도, 주기에 주의를 기울여 보았습니다. 생각보다
					많은 소리와 함께 살아가고 있다는 것을 느꼈습니다.
				</p>
			</div>
		</div>
		<div class="review-item p-3 border rounded-3 bg-light">
			<div class="ratings mb-2">
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
				<i class="bi bi-star-fill text-warning"></i>
			</div>
			<div class="review-text">
				<p>
					앞으로 생각과 감정을 통제하기보다, 어느 정도는 있는 그대로 받아들일 수
					있는 사람이 되고 싶습니다.
				</p>
			</div>
		</div>
	</div>
</div>
<!--end reviews section-->
{% endblock contents %}
